@use './utils';

html {
	--radius: 4px;
	--spacing-sm: 0.25rem;
	--spacing-md: 0.5rem;
	--spacing-lg: 0.75rem;
	--spacing-xl: 1rem;

	& a {
		text-decoration: none;
		color: var(--link-color);

		&:hover, &:active {
			color: var(--link-hovered-color);
		}
	}
}

html[data-theme='light'] {
	--bg-color: #ffffff;
	--bg-color-dark: #f5f9ff;
	--article-background: #{utils.hexToRGB(#f1f0f0)};
	--text-color: #000;
	--dimmed-text-color: #444444;
	--card-border-color: #dee2e6;

	// change hex to rgb so can add alpha channel with rgba()
	--primary-100: #{utils.hexToRGB(#fbfdff)};
	--primary-200: #{utils.hexToRGB(#cde8ff)};
	--primary-300: #{utils.hexToRGB(#a3d6ff)};
	--primary-400: #{utils.hexToRGB(#7dc5ff)};
	--primary-500: #{utils.hexToRGB(#5ab5ff)};
	--primary-600: #{utils.hexToRGB(#3ba7ff)};
	--primary-700: #{utils.hexToRGB(#1c99ff)};
	--primary-800: #{utils.hexToRGB(#008cfe)};
	--primary-900: #{utils.hexToRGB(#007ee5)};
	--primary-1000: #{utils.hexToRGB(#0072ce)};
	--primary-1100: #{utils.hexToRGB(#0066b9)};
	--primary-1200: #{utils.hexToRGB(#005ca7)};

	--link-color: rgb(var(--primary-600));
	--link-hovered-color: rgb(var(--primary-700));
}

html[data-theme='dark'] {
	--bg-color: #242424;
	--bg-color-dark: #1f1f1f;
	--article-background: #{utils.hexToRGB(#0c0713)};
	--text-color: #c9c9c9;
	--dimmed-text-color: #c1c1c1;
	--card-border-color: #424242;

	// change hex to rgb so can add alpha channel with rgba()
	--primary-100: #{utils.hexToRGB(#d6dcff)};
	--primary-200: #{utils.hexToRGB(#abb9ff)};
	--primary-300: #{utils.hexToRGB(#8498ff)};
	--primary-400: #{utils.hexToRGB(#617bff)};
	--primary-500: #{utils.hexToRGB(#4160ff)};
	--primary-600: #{utils.hexToRGB(#2448ff)};
	--primary-700: #{utils.hexToRGB(#0730ff)};
	--primary-800: #{utils.hexToRGB(#0027ec)};
	--primary-900: #{utils.hexToRGB(#0023d4)};
	--primary-1000: #{utils.hexToRGB(#001fbf)};
	--primary-1100: #{utils.hexToRGB(#001cac)};
	--primary-1200: #{utils.hexToRGB(#00199b)};

	--link-color: rgb(var(--primary-400));
	--link-hovered-color: rgb(var(--primary-500));
}
