---
import Github from 'simple-icons-astro/Github';
import Mastodon from 'simple-icons-astro/Mastodon';
import File from '@/assets/file.svg';
import Linkedin from '@/assets/linkedin.svg';
import Flex from '../Flex.astro';
import Section from './Section.astro';
---

<style lang='scss'>
	.contact-link {
		padding: 1rem 1rem;
		gap: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		border: 2px solid var(--link-color);
		border-radius: var(--radius);
		color: var(--link-color);
		font-size: 1.25rem;
		font-weight: 700;
		text-decoration: none;
		line-height: 1;

		&:hover {
			background-color: color-mix(in srgb, var(--link-color), transparent 92%);
		}

		&:active {
			transform: translateY(0.0625rem);
		}
	}
</style>
<Section title='Contact' maw='1600px' dark>
	<Flex gap='1rem' justify='center'>
		<a class='contact-link' href='https://github.com/tsar-boomba' target='_blank'>
			<Github size={24} fill='currentColor' />
			<span>GitHub</span>
		</a>
		<a class='contact-link' href='https://mastodon.social/@igamble' target='_blank'>
			<Mastodon size={24} fill='currentColor' />
			<span>Mastodon</span>
		</a>
		<a class='contact-link' href='https://linkedin.com/in/igamble' target='_blank'>
			<Linkedin width={24} height={24} fill='currentColor' />
			<span>Linkedin</span>
		</a>
		<a
			class='contact-link'
			href='https://tsar-boomba.github.io/resume/resume.pdf'
			target='_blank'
		>
			<File width={24} height={24} stroke='currentColor' />
			<span>Resume</span>
		</a>
	</Flex>
</Section>
