.container {
	position: relative;
	line-height: 0;
	--size: 4.25rem;

	@media only screen and (max-width: 600px) {
		--size: 3rem;
	}

	@media only screen and (max-width: 500px) {
		--size: 2rem;
	}
}

.noImage {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	height: var(--size);
	width: var(--size);
	background-color: var(--bg-color-dark);
}

.image {
	border-radius: var(--radius);
	height: var(--size);
	width: var(--size);
}
