.card {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	position: fixed;
	color: white;
	right: 1rem;
	bottom: 1rem;
	padding: 1rem;
	max-width: calc(100vw - 2rem);
	background-color: var(--link-hovered-color);
	border-radius: var(--radius);
	z-index: 1;
	box-shadow:
		0 0.0625rem 0.1875rem #0000000d,
		#0000000d 0 1.25rem 1.5625rem -0.3125rem,
		#0000000a 0 0.625rem 0.625rem -0.3125rem;
	overflow: hidden;
}

.main-info {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	gap: 0.5rem;

	& h1,
	& a {
		font-size: 1.125rem;
	}

	@media only screen and (max-width: 768px) {
		& h1,
		& a {
			font-size: 1rem;
		}
	}
}

.title {
	color: white;
	text-decoration: none;

	& > h1 {
		font-weight: 700;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:hover {
		color: #e9e9e9;
	}
}

.artists {
	font-weight: 500;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;

	& > a {
		color: white;

		&:hover {
			color: #e9e9e9;
		}
	}
}

.progress-container {
	background-color: #ffffff84;
	height: 0.5rem;
	border-radius: 50px;
	width: 100%;
}

.progress {
	background-color: #fff;
	height: 0.5rem;
	border-radius: 50px;
}

.text {
	position: absolute;
	margin: 0;
	top: 0.25rem;
	right: 0.5rem;
	font-size: 0.8rem;
	font-style: italic;
}
