.card {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	position: fixed;
	color: white;
	right: 1rem;
	bottom: 1rem;
	padding: 1rem;
	max-width: calc(100vw - 2rem);
	width: 20rem;
	background-color: var(--link-hovered-color);
	border-radius: var(--radius);
	z-index: 1;
	box-shadow:
		0 0.0625rem 0.1875rem #0000000d,
		#0000000d 0 1.25rem 1.5625rem -0.3125rem,
		#0000000a 0 0.625rem 0.625rem -0.3125rem;
}

.main-info {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	gap: 0.5rem;

	& h1,
	& a {
		font-size: 1.125rem;
	}

	@media only screen and (max-width: 768px) {
		& h1,
		& a {
			font-size: 1rem;
		}
	}
}

.title-container {
	min-width: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.title {
	color: white;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	position: relative;

	&.is-scrolling {
		mask-image: linear-gradient(
			to right,
			transparent 0%,
			black 5%,
			black 95%,
			transparent 100%
		);
	}

	// When the PARENT is hovered, pause ALL child animations
	&:hover .scroll-text {
		animation-play-state: paused;
		color: #e9e9e9;
	}

	& span {
		color: white;
		font-weight: 700;
		margin: 0;
	}
}

.scroll-text {
	display: inline-block;
	flex-shrink: 0;
	padding-right: 1rem; // Gap between the repeating names

	// Only animate if this parent class is present
	.is-scrolling & {
		animation: marquee 7.5s linear infinite;
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	} // -50% because we have two spans
}

.artists {
	font-weight: 500;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	& > a {
		color: white;

		&:hover {
			color: #e9e9e9;
		}
	}
}

.progress-container {
	background-color: #ffffff84;
	height: 0.5rem;
	border-radius: 50px;
	width: 100%;
}

.progress {
	background-color: #fff;
	height: 0.5rem;
	border-radius: 50px;
}

.text {
	position: absolute;
	margin: 0;
	top: 0.0625rem;
	right: 0.5rem;
	font-size: 0.8rem;
	font-style: oblique;
	font-weight: 600;
}
