---

---

<style lang='scss'>
	.root {
		padding: 4rem 1rem 4rem 1rem;
		display: flex;
		background-color: var(--link-hovered-color);
		color: white;
		display: flex;
		justify-content: center;
		font-size: 1.25rem;
	}

	a,
	a:link,
	a:visited {
		color: white;

		&:hover {
			color: lightgray;
		}
	}
</style>
<footer class='root'>
	<div>
		All my work is dedicated to Hank. Without your inspiration, I never would've gotten this far. Thank you.
	</div>
</footer>
