---
import { getCollection, render } from 'astro:content';
import Flex from '@/components/Flex.astro';
import Section from '../Section.astro';
import ProjectCard from './ProjectCard.astro';

const projects = await getCollection('projects');
projects.sort((a, b) => b.data.addDate.valueOf() - a.data.addDate.valueOf());
const idToContent = Object.fromEntries(
	await Promise.all(
		projects.map(
			async (project) => [project.id, await render(project)] as const,
		),
	),
);
---

<Section title='Projects' maw='1600px'>
	<Flex justify='center' gap='1rem'>
		{
			projects.map((project) => {
				const { Content } = idToContent[project.id];
				return (
					<ProjectCard {...project.data}>
						<Content slot='description' />
					</ProjectCard>
				);
			})
		}
	</Flex>
</Section>
